{% extends 'base.html' %}
{% block content %}

    <div style="width: 70%">
        <h1>Правила использования сайта для просмотра фильмов и сериалов</h1>
        <ol>
            <li>
                <strong>Регистрация и вход:</strong> Для получения доступа ко всем функциям сайта, включая просмотр
                фильмов и сериалов, написание рецензий и оценку контента, требуется регистрация и вход на сайт. При
                регистрации убедитесь, что вы предоставляете достоверные данные.
                <br>
            </li>
            <li>
                <strong>Авторские права:</strong> Весь контент, предоставляемый на сайте, защищен авторским правом.
                Пожалуйста, уважайте права владельцев контента и не распространяйте его без разрешения.
                <br>
            </li>
            <li>
                <strong>Правила поведения:</strong> Мы ценим культуру общения на сайте. При написании рецензий,
                комментариев или оценке контента следует придерживаться этичных стандартов. Не допускаются оскорбления,
                угрозы, ненормативная лексика и другие формы неуважительного поведения.<br>
                
            </li>
            <li>
                <strong>Рецензии и оценки:</strong> Все пользователи имеют право выражать свое мнение о фильмах и
                сериалах через написание рецензий и выставление оценок. Однако оценки и рецензии должны быть
                обоснованными и соответствовать содержанию контента.<br>
                
            </li>
            <li>
                <strong>Запрещенный контент:</strong> На сайте запрещено публиковать контент, нарушающий законы или
                правила пользования сайта. Это включает в себя нелегальные копии фильмов и сериалов, порнографический
                материал, призывы к насилию и другие формы недопустимого контента.<br>
            </li>
            <li>
                <strong>Защита данных:</strong> Мы ценим вашу конфиденциальность. Пожалуйста, не делитесь своими личными
                данными с другими пользователями сайта и не публикуйте конфиденциальную информацию о других
                пользователях.<br>
            </li>
            <li>
                <strong>Обратная связь:</strong> Если у вас есть вопросы, предложения или вы обнаружили нарушение
                правил, пожалуйста, свяжитесь с администрацией сайта. Мы готовы помочь и решить любые проблемы.<br>
            </li>
        </ol>
    </div>

{% endblock %}
