header .icon {
    width: 60px;
}

footer .icon {
    width: 38px;
}

header .avatar {
    width: 70px;
}

main .avatar {
    width: 150px;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.search-button {
    padding: 10px; /* Увеличиваем внутренние отступы кнопки */
    font-size: 16px; /* Увеличиваем размер шрифта кнопки */
    color: #FDF5DF;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

main {
    margin-bottom: 15px;
    width: 75%; /* Задаем ширину правого столбца */
}

:root {
    --primary-color: #3882FF; /* Основной цвет */
    --secondary-color: #3F51B5; /* Вторичный цвет */
    --text-color: #333; /* Цвет текста */
    --font-family: Arial, sans-serif; /* Шрифт */
    --header-bg-color: #1A2238; /* Цвет фона заголовка */
    --footer-bg-color: #1A2238; /* Цвет фона footer */
    --main-bg-color: #FFFFFF; /* Цвет фона главного контейнера */
}

footer a {
    color: #FDF5DF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--main-bg-color);
    padding-right: 20px;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    background-color: var(--header-bg-color);
    border-radius: 10px;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    margin-left: 10px; /* Добавляем отступ между ссылками в правой части */
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--footer-bg-color);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.nav {
    width: 20%;
    padding: 5px;

}

nav {
    background-color: rgba(26, 34, 56, 0.88);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

nav a {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #757575 0%, #696969 50%, #757575 100%);
    opacity: 85%;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    opacity: 100%;
    background-color: var(--secondary-color);
}

main .a {
    padding: 10px;
    font-size: 16px;
    color: #FDF5DF;
    background-color: var(--primary-color);
    border-radius: 5px;
}
