.movie-info-container {
    display: flex;
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
}

.movie-poster {
    flex: 0 0 50%;
    margin-right: 20px;
}

.movie-poster img {
    max-width: 100%; /* Сохраняем максимальную ширину изображения */
    height: auto; /* Поддерживаем пропорции изображения */
}

.movie-details {
    flex: 1; /* Растягиваем блок с информацией на всю доступную ширину */
}


.seasons {
    margin-top: 20px;
}

.season-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.season-item h2 {
    margin-top: 0;
    color: #333;
}

.episode-item {
    margin-left: 20px;

}

.episode-item a {
    color: #0066cc;
    text-decoration: none;
    font-size: 18px;
}

.episode-item a:hover {
    text-decoration: underline;
}

.main-button {
    padding: 10px;
    font-size: 16px;
    color: #FDF5DF;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-decoration: none;
}