{% extends 'base.html' %}
{% block content %}

    <h1>{{ episode.number }}. {{ episode.name }}</h1>
    <h3>{{ episode.series.name }}. {{ episode.season }} Сезон</h3>
    
    {% if episode.video_file %}
        <video width="1000px" height="562px" controls>
            <source src="{{ episode.video_file.url }}" type="video/mp4">
        </video>
    {% endif %}

    <p><strong>Описание:</strong> {{ episode.description }}</p>

    {% if previous_episode %}
        <a class="main-button" href="{% url 'movies:episode_detail' previous_episode.pk %}">Предыдущий эпизод</a>
    {% endif %}

    {% if next_episode %}
        <a class="main-button" href="{% url 'movies:episode_detail' next_episode.pk %}">Следующий эпизод</a>
    {% endif %}

    <a class="main-button" href="{% url 'movies:detail' episode.series.pk %}">К сериалу</a>

{% endblock %}
