{% extends 'base.html' %}
{% block content %}

    <h1>{{ film.name }}</h1>

    {% if film.cover %}
        <img src="{{ film.cover.url }}" alt="Обложка фильма" style="width:100px;">
    {% endif %}

    {% if film.media_type == 'movie' %}
        <video width="1000px" height="562px" controls>
            <source src="{{ film.video_file.url }}" type="video/mp4">
        </video>
    {% endif %}

    <p><strong>Дата премьеры:</strong> {{ film.premiere_date }}</p>
    <p><strong>Дата анонса:</strong> {{ film.announcement_date }}</p>
    <p><strong>Аннотация:</strong> {{ film.annotation }}</p>
    <p><strong>Для взрослых:</strong>
        {% if film.adult_content %}
            Да
        {% else %}
            Нет
        {% endif %}
    </p>
    <p><strong>Дата и время публикации:</strong> {{ film.publication_datetime }}</p>

    <p><strong>Франшиза:</strong> {{ film.franchise }}</p>

    {% if film.tags.all %}
        <p><strong>Теги:</strong>
            {% for tag in film.tags.all %}
                {{ tag.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}

    {% if film.media_type == 'series' %}
        {% for season, episodes in episodes_by_series.items %}
            <h2>{{ season }} сезон</h2>
            <ul>
                {% for episode in episodes %}
                    <li><a href="{% url 'movies:episode_detail' episode.pk %}">{{ episode.name }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}

    {% if request.user.is_authenticated %}

        <h2>Оставь оценку</h2>
        <form method="post" action="{% url 'reviews:add_mark' film.pk %}">
            {% csrf_token %}
            {{ markForm.as_p }}
            <button type="submit">Сохранить</button>
        </form>

        <h2>Добавить рецензию</h2>
        <form method="post" action="{% url 'reviews:add_review' film.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Сохранить</button>
        </form>
    {% endif %}

    <h2>Рецензии</h2>
    <ul>
        {% for review in film.review_set.all %}
            <li>{{ review.text }}</li>
        {% empty %}
            <h3>Пока нет рецензий</h3>
        {% endfor %}
    </ul>

{% endblock %}