{% extends 'base.html' %}
{% block content %}

    <h1>{{ title }}</h1>

    <form method="GET" action="{% url 'movies:list' %}">
        <div>
            <label for="search">Поиск:</label>
            <input type="text" name="search" id="search" value="{{ request.GET.search }}">
        </div>
        <div>
            <label for="type">Тип:</label>
            <select name="type" id="type">
                <option value="">Все</option>
                <option value="movie" {% if request.GET.type == "movie" %}selected{% endif %}>Фильмы</option>
                <option value="series" {% if request.GET.type == "series" %}selected{% endif %}>Сериалы</option>
            </select>
        </div>
        <button type="submit">Применить</button>
    </form>
    
    <hr>
    
    {% include 'elems/movies/movies_list.html' %}

{% endblock %}